@import './theme-switcher.scss';

.clock {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


:root {
    --primary-color: #fff !important;
    --secondary-color: #282c34 !important;
}
  
[data-theme="dark"] {
    --primary-color: #282c34 !important;
    --secondary-color: #fff !important;
}
  

#mainApp {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}