.yacooba-container {
    .yacooba-icon {
        background-image: url('../yacooba.png') !important;
        background: 'black';
        background-size: 100% !important;
        background-position: center !important;
    }
}

.nearsoft-container {
    .nearsoft-icon {
        background-image: url('../nearsoft.png') !important;
        background-size: 100% !important;
        background-position: center !important;
    }
}

.tv-app-container{
    .tv-app-icon {
        background-image: url('../tvappagency.jpeg') !important;
        background-size: 150% !important;
        background-position: center !important;
    }
}

.uma-container {
    .uma-icon {
        background-image: url('../uma.png') !important;
        background-size: 150% !important;
        background-position: center !important;
    }
}
