body {
  margin: 0;
  overflow-x: hidden !important;
  font-family: "Josefin Sans", cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
